*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild

wpc.jks

weiguang_splash.jpg

Screenshot_20191107-141604.jpg
Screenshot_20190626-094458.jpg

kbaselib
/
gradlew.bat

gradlew

gradle/wrapper/gradle-wrapper
.properties

gradle/wrapper
/gradle-wrapper.jar

gradle.properties

build.gradle
