*.iml
/.gradle
/gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild

kbaselib
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper
.properties

gradle/wrapper
/gradle-wrapper.jar

gradle.properties

build.gradle
