<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.tjrac.swant.biubiu_launcher">

    <application
        android:label="biubiu launcher"
        >
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".LiveWallpaperService"
            android:enabled="true"
            android:permission="android.permission.BIND_WALLPAPER"
            >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/livewallpaper" />
        </service>
    </application>

</manifest>